@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/account/login">Sign Up</a>
        </div>

        <div class="body-content">
            @Body
        </div>
    </main>
</div>

<MudBlazor.MudThemeProvider />
<MudBlazor.MudDialogProvider />
<MudBlazor.MudPopoverProvider />
<!-- Add the MudDialogProvider here -->
<MudDialogProvider />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
